[submodule "deps/libkrunfw"]
	path = deps/libkrunfw
	url = https://github.com/containers/libkrunfw.git
[submodule "deps/gvproxy"]
	path = deps/gvproxy
	url = https://github.com/containers/gvisor-tap-vsock.git
